body {
    margin: 0%;
          }

/******Navbar******/

.Navbar {
    overflow: hidden;
    background-color: #334d4d;
    position:fixed;
    top:0;
    width: 100%;
    height:6%;
    z-index:1;
    border-bottom:1px solid black;
        }

.Navbar a{
    float: left; 
    display: block;
    color: wheat;
    padding: 6px 6px;
    text-decoration: none;
    font-family: 'Garamond', 'Helvetica';
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    height:100%;
}


.Navbar a:hover {
    background-color:ivory;
    color: black;
    border: 3px solid ivory;
}

.Navbar a.home_button{
    background-color: wheat;
    color: #334d4d;
    height:100%
      }
.Navbar a.home_button:hover {
    border:3px solid wheat;
}

/******END Navbar******/



#background_video {
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    min-width:100%;
       z-index: -2;}

.Video_Text {
    background:  rgba(0,0,0,0.75); 
    border: 5px double silver;
    color: ivory;
    width: 75%;
    height:75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; 
    margin-bottom: 10%;
    padding: 25px;
    font-family: 'Garamond', 'Helvetica';
}

* {
    box-sizing: border-box;
}

.Column_1 {
    float: left;
    width: 50%;
    padding: 10px;
    padding: 3%;
    height:400px;
    background-color: #4d4d4d;
    color: white;
    border: 1px solid silver
}
.Column_2 {
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: black;
    border: 1px solid silver;
}
.Column_3{
    float:left;
    width: 50%;
    padding: 10px;
    padding-top: 3.5%;
    height: 500px;
    background-color: black;
    border: 1px solid silver;
}

.Column_4 {
        float: left;
        width: 50%;
        padding: 10px;
        padding: 3%;
        height:500px;
        background-color: #4d4d4d;
        color: white;
        border: 1px solid silver
}

.Row:after {
    content:"";
    display: table;
    clear: both;
}

.Name {
    text-transform: uppercase;
    font-family: "Copperplate";
    text-align: center;
    margin-top:3%;
    color: ivory;
}

h1 {
    Text-transform:uppercase;
    font-family: Arial Bold, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: wheat;
}

p{
    font-family: 'Garamond', 'Helvetica';
    text-align: justify;
    letter-spacing: 1px;
    font-size:20px;
    padding-left:20px;
    padding-right: 20px;
}
center {
    font-family: 'Garmond', 'Helvetica';
    text-align:center;
    letter-spacing: 1px;
    font-size: 20px;
    padding-left: 20px;
    padding-right:20px;
}



a{
    color:  wheat;
}

q{
    font-style: italic;
    
}
.Column_2 video, img {
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: grayscale(90%);
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 2%;
    resize: vertical;
    font-family: 'Garmond', 'Helvetica';
    font-weight: bold;
        }

input[type=submit] {
    width: 50%;
    background-color: black; 
    color: white; 
    font-weight: bold; 
    padding: 12px 20px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 25px;
    font-family: 'Garmond', 'Helvetica'
}

label {
    font-family: 'Garmond', 'Helvetica';
    font-weight: bold;
}

input[type=submit]:hover {
    background-color: white;
    color: black; 
    font-weight: bold; 
    transform: scale(1.5);
    transition: transform 1.5s; 
}

form {
display: block;
border-radius: 10px; 
background-color: wheat;
padding: 15px; 
margin-bottom: 75px;
font-family:"Garmond", Helvetica,;
color: black;
}

footer{
    padding:2%;
    background-color: white;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.1);
}


img:hover {
    filter: grayscale(60%);
}

video:hover {
    transition: transform 1s;
    transform: scale(1.1);
}


footer {
        padding: 2%;
        background-color:wheat;
                }   

