html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    opacity: 1;
    transition: 3.5s opacity;
    letter-spacing: .1vw;
    font-size: 1.25vw;
          }

body.fade-out {
    opacity: .1;
    transition: none;
}

/******Navbar******/

.Navbar {
    overflow: hidden;
    background-color: #334d4d;
    position:fixed;
    top:0;
    width: 100%;
    z-index:100;
        -webkit-animation: moveBar 4s;
        animation: moveBar 4s; 
        }

.Navbar a{
    float: left; 
    display: block;
    color: wheat;
    padding: .75vw 1vw;
    text-decoration: none;
    font-family: 'Garamond', 'Helvetica';
    font-size: 1.5vw;
    text-align: center;
    font-weight: bold;
    position: relative; 
    height:100%;
    text-align: center;
    position: relative;
    letter-spacing: .1vw;
    -webkit-animateion: movenavText 4.75s; 
    animation: movenavText 4.75s; 
}


.Navbar a:hover {
    background-color:ivory;
    color: black;
    }

.Navbar a.active{
    background-color: darkgray;
}

@keyframes zoominoutsinglefeatured{
    0% {
        transform: scale(1.5,1.5);
    }
    100%{
        transform: scale(1,1);
    }
}

.Navbar a.home_button{
    background-color: wheat;
    color: #334d4d;
          }

.Navbar a.home_button:hover {
    border:1px solid wheat;
}

@keyframes moveBar{
    from {left: -100vw;}
    to {left: 0vw;}
}

@keyframes movenavText {
    from {top: -100vw;}
    to {top: 0vw;}
}

@keyframes movevideoText{
    from {top: -100vw;}
    to {top: 0vw;}
}

/******END Navbar******/



#background_video {
    position: fixed;
    right: 0;
    left: 0;
    top:0;
    min-width:100%;
    min-height:100%;
    z-index: -2;
    animation: zoominoutsinglefeatured 5s;
}

.Video_Text {
    background:  rgba(0,0,0,0.75); 
    border: 5px double silver;
    color: ivory;
    width: 75%;
    height:75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; 
    margin-bottom: 10%;
    padding: 1vw;
    position: relative; 
    font-family: 'Garamond', 'Helvetica';
    -webkit-animation: movevideoText 4s;
    animation: movevideoText 4s;
}

#Slideshow_Background {
    background-color: rgba(255,255,255,0.35);
}
.mySlides {
    display: none; 
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
#Slideshow_Container{
    width: 39.5vw;
    height: auto;
    padding-top: 4%;
    position: relative; 
    margin: auto; 
    }

.Slide_Show_Images {
    vertical-align: middle; 
    height: 35vw; 
    width: auto;
    box-shadow: 0px 5px 10px 12px rgba(0,0,0,0.75);
    object-fit: contain;
    }

.Previous, .Next{
    cursor: pointer; 
    position: absolute; 
    top: 50%;
    width: auto; 
    padding: 2vw; 
    margin-top:-0vw; 
    color: darkgray; 
    font-weight: bold; 
    font-size: 1.5vw; 
    border-radius: 0 3px 3px 0;
    user-select: none; 
    transition: 0.6s ease; 
}

.Next{
    right: 0;  
    border-radius: 3px 0 0 3px; 
}

.Previous:hover, .Next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white; 
}

.slideText{
    color: white; 
    padding: 1vw; 
    position: absolute; 
    bottom: 0; 
    width: 100%; 
    text-align: center; 
    letter-spacing: .1vw; 
    font-size: 1.5vw; 
    background-color: rgba(0,0,0,0.75);
    font-weight: bold; 
    border-radius: 7px 7px 7px 7px; 
}

.Slide_Number{
    color: white; 
    position: absolute; 
    top: 0; 
    letter-spacing: .1vw; 
    font-size: 1.5vw; 
    font-weight: bold; 
    display: none; 
}

.dot{
    cursor: pointer; 
    height: 1vw; 
    width: 1vw; 
    margin: .25vw; 
    background-color: white; 
    border-radius: 50%; 
    display: inline-block; 
    transition: background-color 0.6s ease; 
    position: relative; 
    }

.active, .dot:hover {
    background-color: black; 
}

.fade{
    -webkit-animation-name: fade; 
    -webkit-animation-duration: 1.5s; ;
    animation-name: fade; 
    animation-duration: 1.5s; 
}

* {
    box-sizing: border-box;
}

.Column_1 {
    position:relative;
    float: left;
    width: 50%;
    padding: 10px;
    padding: 3%;
    height:400px;
    background-color: #4d4d4d;
    color: white;
    border: 1px solid silver;
    z-index: 50;
}
.Column_2 {
    position:relative;
    float: left;
    width: 50%;
    padding: 10px;
    padding-top: 1.9%;
    height: 400px;
    background-color: black;
    border: 1px solid silver;
    z-index: 50; 
}



.Row:after {
    content:"";
    display: table;
    clear: both;
}

.Name {
    text-transform: uppercase;
    font-family: "Copperplate";
    text-align: center;
    margin-top:3%;
    color: ivory;
    font-size: 3vw; 
}

h1 {
    Text-transform:uppercase;
    font-family: Arial Bold, sans-serif;
    text-align: center;
    margin-top: 3%;
    color: wheat;
}

p{
    font-family: 'Garamond', 'Helvetica';
    text-align: justify;
    font-size:1.5vw;
    padding-left:1vw;
    padding-right: 1vw;
}
center {
    font-family: 'Garmond', 'Helvetica';
    text-align:center;
    letter-spacing: 1px;
    font-size: 1.5vw;
    padding-left: 5vw;
    padding-right:5vw;
}



a{
    color:  wheat;
}

q{
    font-style: italic;
}

.Column_2 video, img {
    border-radius: 8px;
    max-width: 100%;
    height: 340px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    filter: grayscale(90%);
}

label {
    font-family: 'Garmond', 'Helvetica';
    font-weight: bold;
}
input {
    width: 100%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 2%;
    margin-bottom: 2%;
    resize: vertical;
    font-family: 'Garmond', 'Helvetica';
    font-weight: bold;
    background-color: white;
        }

.btn {
    width: 80%;
    background-color: #334d4d; 
    color: white; 
    font-weight: bold; 
    font-size: 1.5vw ;
    padding: 12px 20px;
    border: none; 
    border-radius: 4px;
    cursor: pointer;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
    margin-top: 25px;
    font-family: 'Garmond', 'Helvetica';
}

.contact_btn{
        bottom: .75vw;
        right: 1.75vw;
        width: 25vw;  
        background-color:#334d4d;
        color: wheat;
        border: 2px solid black;
        height: 3vw;
        cursor: pointer;
        position: fixed;
        -webkit-animation: movePopup 5s;
        animation: movePopup 5s;
        font-size: 1.5vw;
        font-weight: bold;
        z-index: 1;
}

.contact_btn:hover {
        background-color:black; 
        color: white;
        transform: scale(1.1);   
        transition: transform 1s;
        }

@keyframes movePopup {
    from {bottom: -5vw;}
    to {bottom: .75vw;}
}

.btn:hover {
    background-color: black;
    color: white; 
    font-weight: bold; 
    transform: scale(1.1);
    transition: transform 1.5s;     
}

.btn_close {
    background-color: lightgray; 
    color: white; 
    font-weight: bold; 
    position: absolute;
    top: 1%; 
    right: 1%;
    width: 3vw;
    height: 3vw;
    font-size: 2vw; 
    border-radius: 10px; 
}

.btn_close:hover {
    background-color: darkred; 
    color: white; 
    transform: scale(1.1);
    transition: transform 1.5s; 
}
#form {
    display: none;
    border-radius: 5px; 
    width:50%;
    padding: 15px;
    bottom: 8px;
    right: 12px;
    position: fixed;
    font-family:"Garmond", Helvetica,;
    color: #334d4d;
    background-color: wheat;
    z-index: 75;
}

#form h1{
    color: #334d4d;
}

footer{
    padding:2%;
    background-color: white;
}

p:hover {
    transition: transform 1s;
    transform: scale(1.1);
}


img:hover {
    filter: grayscale(60%);
}

.Column_2 video:hover {
    transition: transform 1s;
    transform: scale(1.1);
}


footer {
        padding: 2%;
        background-color:wheat;
                }   

